.header-container{
    top: 0;
    position: sticky;
    z-index: 5;
    color: white;
}

.wrapper-header{
    display: flex;
}

.nav-container{
    text-decoration: none;
    color:white;
    padding: 20px;
}

.peliculas-series{
    display: flex;
}

.toggle{
    margin-left: 75px;
    
}

.register-login{
    display: flex;
}

