.header-container{
    top: 0;
    position: sticky;
    z-index: 5;
    color: var(--color-text-header);
    display: flex;
    flex-direction: row;
    background-color: var(--backgroud-color-header);
    justify-content: space-between;
    align-items: center;
}

.nav{
    /* width: 35%; */
}

.nav-total{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center;
  
}


.nav-toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 65%; */
    gap: 100px;
    justify-content: flex-end;
}

.button{
    font-weight: bold;
}

.button:focus{
    transform: scale(1.2);
    border: 3px solid black;
}

.logo{
    text-decoration: none;
    color: currentColor;
    font-weight: bold;
}

.header-text{
    text-decoration: none;
    color: currentColor;
    padding: 20px 0;
    font-size: 1rem;
    cursor: pointer;
}

.theme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.toggle{
    margin-left: 75px;
    
}

.first-letter{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #B3B3B3;
    display: flex;
    justify-content: center;

}

.register-login{
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
}


@media (max-width: 481px){
    .nav-toggle{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* width: 65%; */
        gap: 10px;
        justify-content: flex-end;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .nav-toggle{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* width: 65%; */
        gap: 40px;
        justify-content: flex-end;
    }
    
}
