

.movie-details{
    background-color: #1B00BC;
    display: flex;
    padding: 40px 70px;
    width: 100vw;
    margin-top: 40px;
    overflow: hidden   ;
}

.movie-info{
    padding: 40px 70px;
    color: white;
}

.movie-image{
    border-radius: 20px;
}

.genres{
    display: flex;
}

.genre{
    background-color: gray;
    width: 120px;
    padding: 10px;
    margin-right:  10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.circle{
    width: 30px;
    height: 30px;
    background-color: #DC3544;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
}

.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trailer:hover{
    opacity: 0.5;
}

.play{
    font-size: 1.5rem;
}

.play-trailer{
    font-size: 1rem;
    color: white;
    border: none;
    background-color: #1B00BC;
}

.cast-container{
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
}

.cast{
    display: flex;
    gap: 50px;
    width: 140px;
    height: 255px;
    text-align: center;
}

.actor{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.videos-container{
    padding: 40px 70px;
}

.videos{
    display: flex;
    gap: 50px;
}