.light {
  --background-color: #E2DEDE;
  --color-text: #000;
}

.dark {
  --background-color: #292828;
  --color-text: #FFF;
}

.app {
  background-color: var(--background-color);
}

.title-link:hover{
  color: #dc3544;
}

.form-check-input:checked {
  background-color: black !important;
  border-color: black !important;
}